<h1>BIG AL's RECORD STORE!</h1>


<%for album in @albums %>
<p>Album:  <%= album.title %></p>
<p>Artist:  <%= album.artist.name%></p>
<p>Genre:  <%= album.genre %></p>
<p>Stock:  <%= album.quantity %></p>


<%end%>
