<!DOCTYPE html>
<html>
<head>
  <title>Big al's record store</title>
<link rel="stylesheet" type="text/css" href="../style.css">
</head>
<body>
  <nav>
    <ul>
   
    </ul>
  </nav>
  <%= yield %>
</body>
</html>